:root{
    --primary-red:rgb(210, 43, 43);
    --font-color:rgb(129, 19, 49);
}

body{
    min-width:320px; /*chatgpt's advice in order to fit most (even old) samll screen devices */
    min-height:480px; /* same as above */
    }


header{
   
   display:grid;
   grid-template-columns: 1fr 1fr 2fr;
   flex-direction: row;
   align-items: ;
   width:100vw;
   min-height:20vh; 
   justify-content: center;
   align-items: center;

}

h1{
   
    grid-column: 1;
    margin-left: 5vw;
    font-weight: bolder;
    max-height:20vh;
    color: var(--primary-red);

    
}

nav{
   
    grid-column: 4;
    margin-right: 5vw;;
    max-height:20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav>ul{
  
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    


    

}
li, a{
    list-style-type:none;
    text-decoration: none;
    color:var(--font-color);
    font-size: 1.2rem;
}
a:hover{
    color:black;
}

#car-container{

    max-height:40vh;
    min-height: 40vh;
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    

}

img{
    grid-column: 2;
    max-height: 40vh;
    min-height: 40vh;
    max-width:50vw;
    object-fit: contain;
    margin:auto;
   
}

#prev{
    max-width:10vw;
    margin:auto;
}

#next{
    max-width:10vw;
    margin:auto;
}


@media (max-height: 480px) {
    #car-container{
        display:none;
    }
}